<%= render partial: "shared/banner", 
locals: { 
  form: true, 
  header: "Sharebly: For a tastier world", 
  image: "https://unsplash.it/1400/600",
  placeholder: "Chicken curry",
  cloudinary: false
} %>

<div class="featured-wrapper">
  <div class="container">
    <h2 id="featured-home">
      Featured
    </h2>
    <div class="row">
      <% @meals.each do |meal| %>
      <div class="col-xs-4">
        <%= render partial: "shared/card", locals: { 
          meal: meal 
        } %>
      </div>
      <% end %>
    </div>
  </div>
</div>
